@import url("../global_variables.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar orientation end position */
.container__navbar {
  margin: 0;
  padding: 1em;
  position: relative;
  z-index: 999;
  background: #0c192c;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.container__navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #0c192c;
}

.container__navbar li {
  display: inline-block;
}

.container__navbar li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  margin-inline: 4em;
  text-align: center;
  transition: 0.6s;
}
.container__navbar li a:hover {
  transform: scale(1.3);
  color: rgb(25, 98, 161);
  font-weight: 500;
}

/* Style the dropdown menu */
.container__navbar ul ul {
  background-color: transparent;
}
.dropdown {
  z-index: -1;
  transform: translateY(-300px);
  position: absolute;
  transition: 2s;
}
.projects {
  position: relative;
}
.active {
  position: absolute;
  transition: 2s;
  transform: translateY(0);
  background-color: red;
}

.container__navbar ul ul li {
  display: block;
}

.container__navbar li:hover ul {
  display: block;
  cursor: pointer;
}

/* Change the background color of dropdown links on hover */
.container__navbar ul ul li a:hover {
  margin-top: 10px;
  background-color: #4224567b;
  border-radius: 10%;

}

/* background zone */
.container__background {
  background: #0c192c;
  position: relative;
  height: 45em;
  overflow: hidden;
}
.container__background__bubbles {
  position: relative;
  display: flex;
  margin-right: 1em;
}
.container__background__bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--ocean_blue);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--dark_blue), 0 0 50px var(--ocean_blue),
    0 0 100px var(--ocean_blue);
  animation: animate 10s linear infinite;
  animation-duration: calc(100s / var(--i));
}
.container__background__bubbles span:nth-child(even) {
  background: var(--light_pink);
  box-shadow: 0 0 0 10px var(--sour_cherry), 0 0 50px var(--light_pink),
    0 0 100px var(--light_pink);
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
